<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="A_ZawodnicyConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=A_Zawodnicy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="Nasz_provider">
			<providers>
				<add name="Nasz_provider"
					 type="System.Web.Security.SqlMembershipProvider"
					 connectionStringName ="A_ZawodnicyConnectionString"
					 passwordFormat ="Hashed"
					 maxInvalidPasswordAttempts="5" />
			</providers>
		</membership>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>